.popup-content  {
  border: 2px solid color(srgb 0.0328 0.3705 0.8414);
  padding: 25px 25px 40px 25px;
  border-radius: 5px;
  text-align: center;
}

.popup-content form label {
  font-size: 40px;
  margin-bottom: 45px;
}

.popup-content form input {
  margin-bottom: 50px;
}